{% extends 'base.html' %}
{% block title %}Reset Your Password{% endblock %}
{% block content %}
<div class="container">
    <div style="max-width: 450px; margin: 3rem auto;">
        <div class="card">
            <h1 style="font-size: 2rem; margin-bottom: 2rem; text-align: center;">Set New Password</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.new_password1.label_tag }}
                {{ form.new_password1 }}
                {{ form.new_password2.label_tag }}
                {{ form.new_password2 }}
                <button type="submit" class="btn" style="width: 100%; padding: 1rem; margin-top: 1rem;">Change Password</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}
