{% extends 'base.html' %}
{% block title %}Password Reset Complete{% endblock %}
{% block content %}
<div class="container">
    <div style="max-width: 450px; margin: 3rem auto;">
        <div class="card">
            <h1 style="font-size: 2rem; margin-bottom: 2rem; text-align: center;">Password Changed</h1>
            <p style="color: #48bb78; text-align: center;">Your password has been set. You can now log in with your new password.</p>
            <a href="{% url 'customers:login' %}" class="btn" style="width: 100%; margin-top: 2rem;">Go to Login</a>
        </div>
    </div>
</div>
{% endblock %}
